{% block icon_field %}
    <div class="elbformat-icon">
        <div class="icon-container">
            {{ include('@ElbformatIconFieldtype/icon.html.twig', {
                icon: field.value.icon,
                iconset: fieldSettings.iconset
            }, with_context=false) }}
        </div>
        {{ field.value.icon }}
    </div>
{% endblock %}
