.ez-content-preview .elbformat-icon {
    text-align: left;
}
    .ez-content-preview .elbformat-icon .icon-container {
        height: 18px;
        width: 30px;
        display: inline-block;
    }
        .ez-content-preview .elbformat-icon .icon-container img {
            max-height: 90%;
            max-width: 90%;
        }
